################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BBall_2020_web/v16
/bBall_Lib/obj/Debug/TempPE
/bBall_Lib/obj/Debug
/packages
